[Container]
AutoUpdate=registry
ContainerName=Traefik
EnvironmentFile=/root/podman/containers/traefik/.env
HostName=traefik
Image=docker.io/library/traefik:latest
NoNewPrivileges=true
PublishPort=0.0.0.0:80:80/tcp
PublishPort=0.0.0.0:443:443/tcp
PublishPort=0.0.0.0:443:443/udp
SecurityLabelDisable=true
Volume=/etc/localtime:/etc/localtime:ro
Volume=/var/run/podman/podman.sock:/var/run/docker.sock:ro
Volume=/root/podman/containers/traefik/data/traefik.yml:/traefik.yml:ro
Volume=/root/podman/containers/traefik/data/acme.json:/acme.json
Volume=/root/podman/containers/traefik/data/config.yml:/config.yml:ro

[Service]
Restart=always

[Install]
WantedBy=default.target